<header class="header">
    <div class="header__main">
        <div class="header__image">
            <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon>
        </div>
        <div class="header__title">
            <p>favourite</p>
        </div>
    </div>

    <nav class="header__nav">
        <ul class="header__nav__items">
            <li class="header__nav__item">
                <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>
            </li>
            <li class="header__nav__item">
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            </li>
        </ul>
    </nav>
</header>