<div class="content">
    <div>Your favorite pleaces</div>
    <div class="content__system-map">
        <google-map [height]="height" [width]="width" (mapClick)="click($event)" [center]="center">
            <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
            </map-marker>
        </google-map>
    </div>
    <div>
        <app-button [label]="'Add marker'" (onClick)="addMarker()"></app-button>
    </div>
    <app-favorite-list [data]="markersWrapper" [fieldsName]="testFields" [columns]="testColumns"></app-favorite-list>
</div>