.button {
    background: #3333ff;
    color: white;
    font-size: 1.1rem;
    border: none;
    padding: 5px;
    border-radius: 5px
}

.button__label {
    padding: 2px;
}

.button:hover {
    background-color: #7d7df8fb;
    cursor: pointer;
}


.button-info {
    background: #3333ff;
}

.button-warn {
    background: #bbcf00;
}

.button-danger {
    background: #bd0000;
}

.button-icon:hover {
    cursor: pointer;
}
